body {
  margin: 0;
  padding: 0;
}
canvas {
  width: 100vw;
  height: 100vh;
  display: block;
}

#uiContainer {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 10;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 10px;
  font-family: "Times New Roman", sans-serif;
  border-radius: 5px;
}

select {
  background-color: rgb(185, 183, 183);
  font-size: 12px;
  font-family: "Times New Roman", sans-serif;
}

span {
  font-size: 12px;
  vertical-align: text-top;
}

.ui-item {
  margin-bottom: 10px;
}
.ui-item label {
  display: block;
  font-size: 12px;
  margin-bottom: 5px;
}